h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  text-indent: 20px;
}

p {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 50;
}

p, ul {
    padding: -5px;
    margin: -5px;
}

